@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: black;
    color: white;
}
#taskList::-webkit-scrollbar{
    display: none;

}
#tasklistPara::-webkit-scrollbar{
    display: none;
}
#textarea::-webkit-scrollbar{
    display: none;
}
#allTasks::-webkit-scrollbar{
    display: none;
}